
<div class="container"> 
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>{{ titulo }} </h1>

                <form [formGroup]="areasForm">
                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" formControlName="code" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" formControlName="description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button  class="btn btn-primary" (click)="createForm()">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
</div>