
<div class="container"> 
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>{{ titulo }} </h1>
                <form >
                        <div class="form-group">
                            <label>{{ nombres }}</label>
                            <input type="text" [(ngModel)]= "nombres" name="nombres" class="form-control" />
                        </div>  
                        <div class="form-group">
                            <label>{{ apellidos }}</label>
                            <input type="text" [(ngModel)]= "apellidos" name="apellidos"    class="form-control" />
                        </div> 
                        <div class="form-group">
                            <label>{{ fecha }}</label>
                            <input type="text" [(ngModel)]= "fecha" name="fecha"    class="form-control" />
                        </div> 
                        <div class="form-group">
                            <label>{{ nacionalidad }}</label>
                            <input type="text"  [(ngModel)]= "nacionalidad" name="nacionalidad"  class="form-control" />
                        </div>                   
                        
                        <div class="form-group">
                            <button  class="btn btn-primary" (click)="saveForm()">Aceptar</button>
                        </div>
                </form>
            </div>
        </div>
</div>
